.enter-lab{

position:relative;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

}

.enter-content{

position:relative;

z-index:5;

text-align:center;

}

.enter-content span{

letter-spacing:5px;

font-size:.8rem;

color:var(--secondary);

}

.enter-content h2{

font-size:4rem;

margin:18px 0;

}

.enter-content p{

font-size:1.1rem;

color:var(--text-secondary);

}

.enter-particle-core{

position:absolute;

width:180px;

height:180px;

border-radius:50%;

background:

radial-gradient(

circle,

rgba(124,92,255,.9),

rgba(53,194,255,.35),

transparent

);

filter:blur(18px);

box-shadow:

0 0 120px rgba(124,92,255,.6);

}