.shutdown{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.shutdown span{

letter-spacing:6px;

color:var(--color-secondary);

font-size:.8rem;

margin-bottom:18px;

}

.shutdown h2{

font-size:clamp(3rem,6vw,5rem);

margin-bottom:20px;

}

.shutdown p{

max-width:600px;

margin-bottom:50px;

}

.shutdown-terminal{

width:min(650px,95%);

padding:30px;

background:#090d16;

border-radius:20px;

border:1px solid rgba(255,255,255,.08);

font-family:"JetBrains Mono",monospace;

text-align:left;

line-height:2;

}