.cursor-trail{

position:fixed;

width:10px;

height:10px;

border-radius:50%;

pointer-events:none;

background:linear-gradient(
135deg,
#7c5cff,
#35c2ff
);

transform:translate(-50%,-50%);

animation:trail .9s forwards;

z-index:9998;

}

@keyframes trail{

0%{

opacity:1;

transform:
translate(-50%,-50%)
scale(1);

}

100%{

opacity:0;

transform:
translate(-50%,-50%)
scale(0);

}

}