.cursor-dot{

position:fixed;

width:10px;

height:10px;

border-radius:50%;

background:white;

pointer-events:none;

left:-5px;

top:-5px;

z-index:99999;

mix-blend-mode:difference;

}

.cursor-ring{

position:fixed;

width:46px;

height:46px;

border-radius:50%;

border:1px solid rgba(255,255,255,.35);

pointer-events:none;

left:-23px;

top:-23px;

transition:

width .35s,

height .35s,

border-color .35s,

background .35s;

backdrop-filter:blur(8px);

z-index:99998;

}

.cursor-hover{

width:82px;

height:82px;

left:-41px;

top:-41px;

background:rgba(124,92,255,.12);

border-color:rgba(124,92,255,.7);

box-shadow:

0 0 30px rgba(124,92,255,.35);

}

@media(max-width:900px){

.cursor-dot,
.cursor-ring{

display:none;

}

}