.ambient-light{

position:fixed;

inset:0;

pointer-events:none;

overflow:hidden;

z-index:-2;

}

.ambient-light span{

position:absolute;

width:600px;

height:600px;

border-radius:50%;

filter:blur(150px);

animation:floatSlow 15s infinite;

}

.ambient-light span:first-child{

top:-180px;

left:-180px;

background:#7c5cff18;

}

.ambient-light span:last-child{

right:-180px;

bottom:-180px;

background:#35c2ff18;

animation-delay:5s;

}