.back-top{

position:fixed;

right:35px;

bottom:35px;

width:56px;

height:56px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
#7c5cff,
#35c2ff
);

color:white;

box-shadow:
0 15px 40px rgba(124,92,255,.45);

opacity:0;

pointer-events:none;

transform:translateY(25px);

transition:.35s;

z-index:999;

}

.back-top.show{

opacity:1;

pointer-events:auto;

transform:translateY(0);

}

.back-top:hover{

transform:translateY(-5px);

}