.cinematic-top,
.cinematic-bottom{

position:fixed;

left:0;

width:100%;

height:28px;

background:#050816;

pointer-events:none;

z-index:9999;

}

.cinematic-top{

top:0;

}

.cinematic-bottom{

bottom:0;

}