.scroll-indicator{

position:absolute;

bottom:40px;

left:50%;

transform:translateX(-50%);

width:32px;

height:54px;

border:2px solid rgba(255,255,255,.45);

border-radius:999px;

display:flex;

justify-content:center;

padding-top:8px;

}

.wheel{

width:5px;

height:10px;

border-radius:999px;

background:white;

animation:scrollWheel 2s infinite;

}