.section-dots{

position:fixed;

right:22px;

top:50%;

transform:translateY(-50%);

display:flex;

flex-direction:column;

gap:14px;

z-index:900;

}

.section-dots button{

width:11px;

height:11px;

border-radius:50%;

background:rgba(255,255,255,.28);

transition:.3s;

}

.section-dots button:hover{

background:#7c5cff;

transform:scale(1.4);

}

@media(max-width:900px){

.section-dots{

display:none;

}

}