.section-transition{

display:flex;

justify-content:center;

padding:70px 0;

}

.section-transition span{

width:60%;

height:2px;

background:

linear-gradient(
90deg,
transparent,
#7c5cff,
#35c2ff,
transparent
);

opacity:.4;

}