.hud-progress{

position:fixed;

left:0;

top:0;

width:4px;

height:100vh;

background:rgba(255,255,255,.05);

z-index:998;

}

.hud-progress-bar{

width:100%;

background:linear-gradient(
180deg,
#7c5cff,
#35c2ff
);

transition:height .15s linear;

box-shadow:
0 0 18px rgba(124,92,255,.5);

}