.git-timeline{

min-height:100vh;

padding:140px 0;

}

.git-header{

text-align:center;

margin-bottom:100px;

}

.git-header span{

letter-spacing:5px;

font-size:.8rem;

color:var(--color-secondary);

}

.git-header h2{

margin-top:18px;

font-size:4rem;

}

.git-line{

display:flex;

justify-content:space-between;

align-items:flex-start;

position:relative;

gap:40px;

margin-top:100px;

}

.git-line::before{

content:"";

position:absolute;

top:18px;

left:0;

right:0;

height:3px;

background:linear-gradient(
90deg,
#7c5cff,
#35c2ff
);

}

.git-node{

position:relative;

width:240px;

text-align:center;

z-index:2;

}

.git-dot{

width:34px;

height:34px;

border-radius:50%;

background:#7c5cff;

margin:auto;

box-shadow:
0 0 25px rgba(124,92,255,.6);

margin-bottom:20px;

}

.git-node span{

font-size:.82rem;

color:var(--color-secondary);

}

.git-node h3{

margin:15px 0 10px;

}

.git-node p{

font-size:.9rem;

}

@media(max-width:900px){

.git-line{

flex-direction:column;

gap:70px;

}

.git-line::before{

left:16px;

top:0;

bottom:0;

width:3px;

height:auto;

}

.git-node{

text-align:left;

padding-left:55px;

}

.git-dot{

margin:0;

position:absolute;

left:0;

}

}