.tech-marquee{

overflow:hidden;

padding:40px 0;

border-top:1px solid rgba(255,255,255,.08);

border-bottom:1px solid rgba(255,255,255,.08);

}

.track{

display:flex;

gap:70px;

width:max-content;

animation:marquee 28s linear infinite;

}

.track span{

font-size:1.3rem;

font-weight:700;

white-space:nowrap;

background:linear-gradient(
135deg,
#7c5cff,
#35c2ff
);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}