.console-output{

margin-top:20px;

padding:18px;

border-radius:14px;

background:#090d16;

min-height:220px;

overflow:auto;

}

.console-output pre{

font-family:"JetBrains Mono",monospace;

white-space:pre-wrap;

line-height:1.8;

color:#d8e1f0;

}

.console-form{

display:flex;

align-items:center;

gap:12px;

margin-top:20px;

padding:14px 18px;

border-radius:14px;

background:#090d16;

}

.console-form span{

color:#42ff96;

font-family:"JetBrains Mono",monospace;

}

.console-form input{

flex:1;

background:transparent;

border:none;

outline:none;

color:white;

font-family:"JetBrains Mono",monospace;

}