.footer{

padding:120px 40px 60px;

width:min(1200px,100%);

margin:auto;

}

.footer-line{

width:100%;

height:1px;

background:

linear-gradient(
90deg,
transparent,
rgba(255,255,255,.25),
transparent
);

margin-bottom:60px;

}

.footer-content{

display:flex;

justify-content:space-between;

align-items:flex-start;

gap:60px;

}

.footer h3{

margin-bottom:10px;

}

.footer p{

max-width:500px;

color:var(--text-secondary);

}

.footer-links{

display:flex;

flex-direction:column;

gap:18px;

}

.footer-links a{

transition:.3s;

color:var(--text-secondary);

}

.footer-links a:hover{

color:white;

transform:translateX(8px);

}

.copyright{

display:block;

margin-top:70px;

text-align:center;

font-size:.9rem;

color:var(--text-muted);

}

@media(max-width:900px){

.footer-content{

flex-direction:column;

}

}